# ignore the following files and folders
__pycache__/
cal.py
rbthours/__pycache__/
tracker_app/__pycache__/
tracker_app/migrations/
tracker_app/commit-notes.txt
userlog_files/
rbthours.sqlite3
TODO.txt