{% extends "tracker_app/base.html" %}
{% block title %} Supervisor View {% endblock %}
{% block body %}
<div class="header">
    <h1 class="heading">Sign RBT Hours</h1>
    <select id="rbt-select">
        <option value="" disabled selected>Choose an RBT</option>
        {% for user in users %}
        <option value="{{ user.first_name }} {{ user.last_name }}">{{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
    </select>
</div>
<div class="table-container">
    <table class="hours-table">
        {% if caption %}
            <caption class="super-view-table-captions">{{ current_rbt }}'s Daily Logs</caption>
        {% endif %}
        {% if daily_logs %}
            <thead>
                <tr>
                    <th id="hidden-heading"></th>
                    {% for heading in daily_headings %}
                        <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in daily_logs %}
                <tr>
                    {% for data in row.values %}
                        <td class="sign-data">{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
        {% if message %}
        <thead class="tr-empty-table">
            <tr>
                <th class="th-empty-table">{{ message }}</th>
            </tr>
        </thead>
        {% endif %}
        {% endif %}
    </table>
</div>
{% endblock %}