{% extends "tracker_app/base.html" %}
{% block title %}View Hours{% endblock %}
{% block body %}
<div class="header">
    <span class="heading">Your RBT</span><br/>
    <span class="subheading">Supervision Hours</span>
    <div class="spacer-small"></div>
    <div>
        <select id="select-viewhours">
                <option value="" disabled selected>Pick Time Frame</option>
                <option value="daily">Daily</option>
                <option value="monthly">Monthly</option>
        </select>
    </div>
</div>
<div class="table-container">
    <table class="hours-table">
        <caption id="table-caption">{{ table_type.capitalize }}</caption>
        {% if data %}
            <thead>
                <tr>
                    {% for heading in headings %}
                    <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for id, row in data %}
                <tr id="{{ id }}">
                    <td style="display:none;" id="delete button">&#215;</td>
                    {% for value in row.values %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        {% elif not hours %}
        <thead class="tr-empty-table">
            <tr>
                <th class="th-empty-table">{{ message }}</th>
            </tr>
        </thead>
        {% endif %}
    </table>
    </div>

<script type="text/javascript">
    document.getElementById("select-viewhours").addEventListener("change", () => {
        const tableType = document.getElementById("select-viewhours").value;

        // no table is rendered if there is no data
        if (tableType !== document.getElementById("table-caption").innerHTML.toLowerCase()){
            window.location = `http://127.0.0.1:8000/view-hours/${tableType}`;
        }
    })
</script>
{% endblock %}