{% extends "tracker_app/base.html" %}
{% block title %}View Hours{% endblock %}
{% block body %}
<div class="header">
    {% if messages %}
        {% for message in messages %}
        <div class="{{ message.tags }}">
            <span> {{ message }}</span>
        </div>
        {% endfor %}
    {% endif %}
    <span id="table-caption">{{ table_type }}</span>
    <div class="spacer-tiny"></div>
    <div>
        <select id="select-viewhours">
                <option value="" disabled selected>Pick Time Frame</option>
                <option value="daily">Daily</option>
                <option value="monthly">Monthly</option>
        </select><br/>
        {% if data %}
        <form id="download-form" action="https://rbt-tracker.herokuapp.com/download/{{request.user.id}}/{{table_type_arg}}" method="GET">
            <button id="download-link">Download</button>
        </form>
        {% endif %}
    </div>
</div>
<div class="table-container">
    <table class="hours-table">
        {% if data %}
            <thead>
                <tr>
                    <th id="hidden-heading"></th>
                    {% for heading in headings %}
                    <th>{{ heading }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for id, row in data %}
                <tr id="{{ id }}">
                    <td class="delete-data"><span class="delete-button">&#215;</span></td>
                    {% for value in row.values %}
                        {% if value == "Yes" %}
                            <td id="yes">{{ value }}</td>
                        {% elif value == "No" %}
                            <td id="no">{{ value }}</td>
                        {% else %}
                            <td> {{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        {% elif not data %}
        <thead class="tr-empty-table">
            <tr>
                <th class="th-empty-table">{{ message }}</th>
            </tr>
        </thead>
        {% endif %}
    </table>
    </div>
    {% load static %}
    <script src="{% static 'tracker_app/view-data.js' %}" type="text/javascript"></script>
{% endblock %}